//  CSS variables

$dark: #22222b;
$light: #faf9fe;
$textColor: #99999b;
$textsize: 16px;


* {
    margin: 0;
    box-sizing: border-box;
}

// font import

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);




// Main Styles






body,
html {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: $dark;
    overflow-x: hidden;



}


// main section


.main {
    height: 100vh;
    background: url(../img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
    padding: 39px 0px 42px 0px;
    box-sizing: border-box;

}

.main__titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60%;
    width: 100%;
}

.btn_scroll {
    margin-top: 150px;
}


.wrapper {

    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;


}




.header {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    // left: 0;
    // right: 0;
}



.navigation__list {

    display: flex;

}

.nav_list-items {
    margin-left: 23px;
    list-style: none;

    & .nav_list-links {
        text-decoration: none;
        color: $dark;
        border-bottom: 2px solid transparent;
        transition: 0.3s all ease;

        &:hover {
            border-bottom: 2px solid $dark;
            transition: 0.3 all ease;


        }
    }
}

.main_title {
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    transition: 0.3s all ease-in-out;

    span {
        font-weight: 500;


    }
}

.btn_scroll {

    background: transparent;
    border: none;
    margin: 0 auto;

    & .mouse {
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
            color: #dbbdb7;
            transition: 0.3s all ease;
        }
    }


}


// About section

.about {
    padding-top: 240px;
    padding-bottom: 132px;
    box-sizing: border-box;
}


.box__about {

    display: flex;
    justify-content: space-between;
    align-items: center;


    &-itemtitle {
        font-size: 48px;
        font-weight: 500;
        margin-top: 12px;
        margin-bottom: 20px;
    }

    &-item {
        position: relative;
        flex: 0 0 46%;
        max-width: 46%;

        &:first-child {
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &-laptop {
        position: absolute;
        z-index: -1;
        left: 10px;
        top: -108px;
        border-radius: 5px;
    }

    &-girl {

        border-radius: 5px;
    }

    &-vertical {
        position: absolute;
        left: -4px;
        letter-spacing: 1.6px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 16px;
        bottom: 58px;

        &::after {
            content: "";
            width: 1px;
            height: 45px;
            background-color: $dark;
            display: block;
            position: absolute;
            right: 10px;
            top: 100px;
        }

    }

    &-itemtext {
        color: $textColor;
        font-size: 16px;
        line-height: 1.5;
    }
}


.progress__bar {


    // progress__bar (block) There are children below: =>


    &-textbox {
        display: flex;
        justify-content: space-between; // progress__bar-textbox
        align-items: center;
        margin-bottom: 21px;

        &:last-child {
            margin-bottom: 0;
        }

        &-linetext {
            font-size: 16px; // progress__bar-textbox-linetext
            font-weight: 500px;
            margin-bottom: 48px;
        }

    }

    &-line {
        // progress__bar-line
        height: 2px;
        width: 100%;
        background-color: $dark;
        position: relative;

        &::before {
            content: url(../icons/progress_point.png); //progress__bar-line" ::before
            border-color: $dark;
            position: absolute;
            left: -8px;
            bottom: -10px;

        }

        &::after {
            content: '';
            position: absolute; // progress__bar-line" ::after
            right: 0;
            display: block;
            height: 2px;
            background-color: #f2f2f2;

        }


    }

    &-lineindesign {
        &::after {
            width: 35%; // progress__bar-lineindesign
        }
    }

    &-lineXD {
        &::after {
            width: 20%; // progress__bar-lineXD
        }
    }
}



// Services section

.services {
    background-color: $light;
    box-sizing: border-box;
    padding: 120px 0px 120px 0px;

}



.service__h2box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    &-title {
        color: $dark;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &-text {
        color: $textColor;
        font-size: $textsize;
        margin: 0;

    }
}

.service {
    display: grid;
    margin-top: 65px;
    box-sizing: border-box;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 48px;
    justify-content: center;
    align-items: center;


}

.service__item {


    box-sizing: border-box;

    &-icon {
        width: 44px;
        height: 37px;
        cursor: pointer;
        margin-bottom: 30px;



    }


    &-title {

        font-size: 22px;
        font-family: 'Roboto';
        font-weight: 400;
        margin-bottom: 18px;
    }

    &-text {

        color: $textColor;
        font-size: $textsize;
        line-height: 1.8;
        text-align: justify;
        margin-bottom: 25px;
    }

    &-link {

        color: $dark;
        text-decoration: none;
        font-size: $textsize;
        position: relative;
        font-weight: 500;


        &:hover {
            color: $textColor;

        }

        &::after {
            content: '';
            width: 25px;
            height: 1px;
            background-color: $dark;
            position: absolute;
            top: 11px;
            right: -40px;



        }


    }

}


// Portfolio Section

.portfolio__h2box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    padding-bottom: 60px;


    &-title {

        color: $dark;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;

    }


    &-text {

        color: $textColor;
        margin: 0;
        padding: 0;
    }
}


.portfolio__box {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(3, 1fr);

    &-01 {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    &-01 {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
}



// media 


@media(max-width:833px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media(max-width:639px) {
    .navigation__list {
        display: none;
    }

    .main_title {
        font-size: 34px;
        transition: 0.3s all ease-in-out;
    }
}

@media(max-width:353px) {
    .main_title {
        font-size: 26px;
        transition: 0.3s all ease-in-out;
    }
}

@media(max-width:877px) {

    .box__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -125px;
        padding: 0 80px;

        &-item:first-child {
            display: block;
        }

        &-laptop {
            display: block;
            position: static;
        }
    }

}