body,
html {
    box-sizing: border-box;
    background-color: #FFFFD0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 1500px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.wrapper {
    width: 1500px;


}

.texarea__block {
    float: right;
    margin-right: 113px;
}


#content {

    background-color: #282A35;
    white-space: pre-wrap;
    resize: none;
    width: 950px;
    min-height: 900px;
    height: 100vh;
    padding: 20px;
    margin-right: -40px;
    border: 2px solid silver;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: white;
    font-size: 16px;
    overflow: auto;




}

#content:focus {
    border-color: #282A35;
    transition: all 0.3s ease-in-out;
}


.menuBlock {

    float: left;
    width: 212px;
    height: 100vh;
    margin-left: 30px;
    background-color: #FFFFD0;

    .menuBlock__list {

        text-align: center;
        color: #232428;

        & a {


            &:hover {
                color: snow;
            }
        }

        & li {
            margin: 20px 0;
            cursor: pointer;
            padding: 10px 0;
            transition: 0.3s all ease-in-out;
            border: 1px solid #232428;


            background-color: #fafa8c;


            &:hover {
                background-color: #6a6b70;
                color: white;
                transition: 0.3s all ease-in-out;

            }
        }
    }
}