/* @charset "UTF-8";
/* CSS Document */




@media(max-width:1207px){
    .main > .downsidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px ;
    }
    .logo {
        text-align: center;
        margin-top: 30px;
        transition: 0.3s all ease;
    }

    .descr__block {
        max-width: 800px;
        margin: 0 10px;
    }

    .frame__movie-box {
        text-align: center;
        width: 100%!important;
    }

    h3.bright {
        padding-left: 10px;
    }

    p.read {
        padding-left: 10px;
    }



    .logo > p {
        margin-bottom: 20px;
    }

    .active.navigation {
        justify-content: center;
        align-items: center;

    }

    .sidebar {
        display: none;
    }

    .films__box {
        justify-content: center;
    }

    .main > h2 {
        text-align: center;
    }

    /*.main > p {*/
    /*    width: 30%;*/
    /*    text-align: center;*/
    /*}*/
}

@media(max-width: 1195px) {
    .main > .main__feedBack {
        padding: 0 15px;
    }

    .renderfeedbackBlock {
        padding: 0 10px!important;
    }

    .feedBack__form {
        padding: 0 15px;
    }
}


@media(max-width: 821px) {
    .descr__block {
        max-width: 800px;
        margin: 0 10px;
    }
}

@media(max-width: 817px) {
    .descr__block {
        max-width: 600px;
        margin: 0 10px;
    }
}

@media(max-width: 620px) {
    .descr__block {
        max-width: 340px;
        margin: 0 10px;
    }
}

@media(max-width: 361px) {
    .descr__block {
        max-width: 280px;
        margin: 0 10px;
    }
}

@media(max-width: 877px) {
    .main__feedBack {
        text-align: center;
    }


}

@media(max-width: 860px) {
    iframe {
        width: 700px!important;
    }
}

@media(max-width: 712px) {
    iframe {
        width: 500px!important;
        height: 350px!important;
    }
}

@media(max-width: 514px) {
    iframe {
        width: 300px!important;
        height: 300px!important;
    }
}

@media(max-width: 309px) {
    iframe {
        width: 250px!important;
        height: 200px!important;
    }
}

@media(max-width: 1201px){
    .films__wrapper {
        padding: 0 15px;
    }



}

@media(max-width: 1182px) {


    .paragraph {
        text-align: center;

    }
}

@media(max-width: 500px){
    .feedBack__form .feedBack__button-box {
        justify-content: center!important;

    }

    .feedBack__button-box #feedbacksend {
        width: 100% !important;
        padding: 20px;
        border-radius: 15px;
    }
}



@media(max-width: 787px){
    .films__wrapper .films__descr {
        word-break: break-word;
        max-width: 400px;

    }

    .films__wrapper-imgBox {
        margin-right: 13px;
    }


}

@media(max-width: 599px){


    .films__wrapper-imgBox {
        margin-right: 13px;
    }

   /*.films__wrapper .films__wrapper-block {*/
   /*     width: 460px;*/
   /*     margin: 0 auto 40px auto;*/
   /* }*/

    .imgbox__title {
        display: none;
    }


}

@media(max-width: 491px){



    .films__wrapper-imgBox {
        margin-right: 13px;
    }

    .films__buttonBox {
        justify-content: center!important;
       margin-top: 25px;
    }





}


@media(max-width: 1197px){
    .main > .films__descr-box {
        align-items: center;
    }

    .films__descr-box > p {
        width: 85%;
    }

    .films__descr-box > .button__box {
        justify-content: center;
        margin-top: 30px;
    }
}

@media(max-width:1160px) {

    body, html {
        position: static;
        overflow-x: hidden;

    }

    .header__section {

        position: static !important;
        z-index: 0;
    }
}

 @media(max-width: 873px) {

     .films__box-items {
         width: 180px;
         height: 270px;
         margin: 0 auto;
     }

 }
 @media(max-width: 844px) {
        .films__box-items {
            width: 150px;
            height: 230px;
            margin: 0 auto;
        }

       .main > .films__box {
            column-gap: 0;
        }
 }

 @media(max-width: 809px) {
     .films__descr-box > .interstellar {
         font-size: 24px;
     }
 }
 @media(max-width: 761px) {
    .main > .films__box {
        grid-template-columns: repeat(4, 179px);

    }
 }

@media(max-width: 697px) {
    .main > .films__box {
        display: flex;
        flex-flow: wrap;
    }

    .films__box > .films__box-items {
        padding: 0 7px;
        margin: 0 10px;
    }
}

@media(max-width: 679px) {

    .films__box > .films__box-items:nth-child(2) {

        margin-bottom: 26px;
        transition: 0.3s all ease;
    }
}

@media(max-width: 652px) {
    .main > .films__descr-box {
        word-break: break-all;
    }
    .films__descr-box2 > .actorSpeech {
        width: 320px;
    }
}

@media(max-width: 490px) {

   .header__section .header {
        height: 210px;
       transition: 0.5s all ease;
    }

    .langBox {
        bottom: -140px;
        left: -10px;
    }

    .preloader {
        left: 44% !important;

    }

    .preloader > img {
        width: 60px!important;
    }

   .navigation .navigation__list {
       display: block;
       transform: scale(0);
       transition: scale 0.2s ease;
       opacity: 1;
   }
   

    ul.navigation__list li {
        margin-bottom: 20px;
    }

    .theme__block > .nav-toggle {
        visibility: visible;
        opacity: 1;
    }

    .container > .logo > h1 {
        font-size: 35px;
    }




}



@media(max-width: 333px) {
    .header__section > .header {
        height: 240px;
    }
    .langBox {
        bottom: -187px;
    }
}



@media(max-width: 339px) {
    
    .films__box > .films__box-items:nth-child(2) {

        margin-bottom: 26px;

    }

    .films__box > .films__box-items {
        margin-bottom: 26px;
    }
}

@media(max-width: 335px) {
    .films__descr-box > .interstellar {
        word-break: break-all;
        font-size: 19px;
    }

    .films__descr-box2 > .actorSpeech {
        word-break: break-all;
        font-size: 19px;
        width: 14rem;
    }
}

@media(max-width: 247px) {
    .films__descr-box > .interstellar {
        word-break: break-all;
        font-size: 19px;
        width: 8rem;
    }

    .films__descr-box2 > .actorSpeech {
        word-break: break-all;
        font-size: 19px;
        width: 14rem;
    }
}

@media(max-width: 768px) {
    .preloader {
        left: 43% !important;
        top: 34%;

    }

    .preloader > img {
        width: 90px!important;
    }
}

@media(min-width: 490px) {
   .show.navigation__list  {
        display: flex!important;
    }

    .active.header {
        height: 299px!important;
    }



}

/*cross*/



@media(max-width: 1395px) {
    .modal > .cross {
        left:-135px;
        top: -77px;
    }
    .close__cross {
        font-size: 28px;
    }
}

@media(max-width: 699px) {
    .modal > .cross {
        left:-90px;
        top: -67px;
    }
    .cross .close__cross {
        font-size: 40px!important;
    }
}

@media(max-width: 699px) {
    .modal > .cross {
        left:-30px;
        top: -67px;
    }
    .cross .close__cross {
        font-size: 40px!important;
    }
}

@media(max-width: 653px) {
   .modal__items-box  button {
       width: 200px!important;
   }

    .active.modal {
        width: 600px!important;
        margin: 0 15px;
    }

    .modal > .cross {
        left:-1px;
        top: -67px;
    }
}

@media(max-width: 273px) {
    .modal__items-box  button {
        width: 160px!important;
    }

    .active.modal {
        width: 260px!important;
    }

    .modal > .cross {
        left:4px;
        top: -67px;
    }
}

/* profile */

@media(max-width:1201px){
    .userdata__box {
        margin: 0 15px;
        text-align: center;
    }

    .userdatabtn__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:303px){
    .userimg {
        width: 180px;
    }
}


@media(max-width: 520px){
    .modal__wrapper .modal {
        max-width: 90% !important;
    }
}

@media(max-width: 356px) {
    .modal__items-box button  {
        width: 180px!important;
    }

}

@media(max-width: 314px) {
    .modal__items-box button  {
        width: 130px!important;
    }

}









