/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Della+Respira&display=swap);
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { height: 100%; padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Roboto'; overflow-x: hidden; }

label { font-family: 'Roboto'; cursor: pointer; }

.sectionWhite { color: white; background-color: #f5f6fa; -webkit-transition: 0.5s all ease-in-out; transition: 0.5s all ease-in-out; }

.first__section { max-width: 100%; height: 100vh; background: url("../../img/1621005462_23-phonoteka_org-p-fon-dlya-saita-veb-studii-25.jpg") no-repeat bottom; background-size: cover; -webkit-transition: 0.5s all ease-in-out; transition: 0.5s all ease-in-out; }

.wrapper { max-width: 1170px; margin: 0 auto; }

header { max-width: 100%; }

.header { background-color: #232428; padding: 0px 30px; }

.navigation { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 15px 0; margin: 0; }

.navigation__logo > p { color: #f1f6f8; font-size: 30px; padding: 15px 5px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; letter-spacing: 1px; font-family: 'Dell Respira'; font-weight: 700; }
.navigation__logo > p::before { content: "<"; padding: 0 10px; }
.navigation__logo > p::after { content: "/ >"; padding: 0 10px; }

.navigation__list { list-style: none; font-size: 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.navigation__list li { margin: 0 20px; }
.navigation__list-links { color: #ecf0f1; text-decoration: none; letter-spacing: 1px; }

.navigation__list-anotherSublist { position: relative; }

.navigation__list-secondSublist { position: relative; }

.secondsubnavigation__list { position: absolute; list-style: none; background-color: #232428; padding: 10px 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; margin-top: 10px; left: 0px; right: 0px; display: none; min-width: 200px; border-radius: 4px; }
.secondsubnavigation__list-links { text-decoration: none; color: #ecf0f1; border-bottom: 1px solid transparent; }
.secondsubnavigation__list-links:hover { border-bottom: 1px solid #f1f6f8; -webkit-transition: 0.3s all ease-in-out; transition: 0.3s all ease-in-out; }
.secondsubnavigation__list-links:active { color: #ff5252; }

.showBlock.subnavigation__list { display: block; }

.showBlock.secondsubnavigation__list { display: block; }

.subnavigation__list { position: absolute; list-style: none; background-color: #232428; padding: 10px 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; margin-top: 10px; left: 0px; right: 0px; display: none; border-radius: 4px; }
.subnavigation__list li { padding: 10px 0; }
.subnavigation__list-links { text-decoration: none; color: #ecf0f1; border-bottom: 1px solid transparent; }
.subnavigation__list-links:hover { border-bottom: 1px solid #f1f6f8; -webkit-transition: 0.3s all ease-in-out; transition: 0.3s all ease-in-out; }
.subnavigation__list-links:active { color: #ff5252; }

.navigation__list-items { padding: 15px 5px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.navigation__list-items .navigation__list-links { border-bottom: 1px solid transparent; -webkit-transition: 0.3s all ease-in-out; transition: 0.3s all ease-in-out; }
.navigation__list-items .navigation__list-links:hover { border-bottom: 1px solid #f1f6f8; -webkit-transition: 0.3s all ease-in-out; transition: 0.3s all ease-in-out; }

@media (max-width: 937px) { .navigation { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 638px) { .navigation__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .navigation__logo { margin-left: -4px; } }
