/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Della+Respira&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100vh;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  overflow-x: hidden;
  font-size: 20px;
}

.footer__navigation-text {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.focusText.footer__navigation-text {
  color: #27eec6;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.focus.social {
  color: #27eec6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__navigation-list {
  position: relative;
  right: -100%;
  -webkit-transition: 0.6s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: 0.6s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.showfooterList.footer__navigation-list {
  position: relative;
  right: 0;
  -webkit-transition: 0.6s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: 0.6s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.number {
  text-decoration: none;
  color: #16A085;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.number:hover {
  color: #24ccaa;
}

#menu__wrapper {
  overflow: hidden;
  max-width: 100%;
  margin-left: -100px;
  display: none;
  position: relative;
}
#menu__wrapper-hamburgermenu {
  position: relative;
  width: 25px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
}
#menu__wrapper-hamburgermenu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: white;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
#menu__wrapper-hamburgermenu span:nth-child(1) {
  top: 0;
}
#menu__wrapper-hamburgermenu span:nth-child(2) {
  top: 9px;
}
#menu__wrapper-hamburgermenu span:nth-child(1) {
  top: 18px;
}

label {
  font-family: 'Roboto';
  cursor: pointer;
}

.first__section {
  max-width: 100%;
  height: 100%;
  background: url("../../img/webdesign-background-1024x683.png") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  max-width: 100%;
}

.header {
  background-color: #232428;
  padding: 0px 30px;
}

footer {
  background-color: #232428;
}

.footer__section {
  width: 100%;
  background-color: #232428;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  margin: 0;
}

.navigation .navigation__list .subnavigation__list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.navigation__list-logo {
  display: none;
}

.navigation__logo > p {
  color: #f1f6f8;
  font-size: 30px;
  padding: 15px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-family: 'Dell Respira';
  font-weight: 700;
}
.navigation__logo > p::before {
  content: "< /";
  padding: 0 10px;
}
.navigation__logo > p::after {
  content: " >";
  padding: 0 10px;
}

.navigation__list {
  list-style: none;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navigation__list li {
  margin: 0 20px;
}
.navigation__list-links {
  color: #ecf0f1;
  text-decoration: none;
  letter-spacing: 1px;
}

.navigation__list-anotherSublist {
  position: relative;
}

.navigation__list-secondSublist {
  position: relative;
}

.secondsubnavigation__list {
  position: absolute;
  list-style: none;
  background-color: #232428;
  padding: 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10px;
  left: 0px;
  right: 0px;
  display: none;
  min-width: 200px;
  border-radius: 5px;
}
.secondsubnavigation__list-links {
  text-decoration: none;
  color: #ecf0f1;
  border-bottom: 1px solid transparent;
}
.secondsubnavigation__list-links:hover {
  border-bottom: 1px solid #f1f6f8;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.secondsubnavigation__list-links:active {
  color: #ff5252;
}

.showBlock.subnavigation__list {
  display: block;
}

.showBlock.secondsubnavigation__list {
  display: block;
}

.subnavigation__list {
  position: absolute;
  list-style: none;
  background-color: #232428;
  padding: 11px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  left: -44px;
  display: none;
  border-radius: 5px;
  min-width: 200px;
}
.subnavigation__list li {
  padding: 10px 0;
}
.subnavigation__list-links {
  text-decoration: none;
  color: #ecf0f1;
  border-bottom: 1px solid transparent;
}
.subnavigation__list-links:hover {
  border-bottom: 1px solid #f1f6f8;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.subnavigation__list-links:active {
  color: #ff5252;
}

.navigation__list-items {
  padding: 13px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list-items .navigation__list-links {
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.navigation__list-items .navigation__list-links:hover {
  border-bottom: 1px solid #f1f6f8;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__navigation-text {
  color: #16A085;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.footer__navigation-text::before {
  content: 'Click to link ';
  padding-right: 4px;
}
.footer__navigation-text:hover {
  color: #24ccaa;
}
.footer__navigation-number {
  color: #16A085;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin: 0 50px;
}
.footer__navigation-number:hover {
  color: #24ccaa;
}
.footer__navigation-list {
  list-style: none;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__navigation-items {
  margin: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.footer__navigation-items:hover {
  border-bottom: 2px solid #f1f6f8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.arrow {
  font-size: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__navigation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  color: #16A085;
}
.social:hover {
  color: #0e5d4d;
}

@media (max-width: 1048px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__navigation-list {
    margin-top: 25px;
    margin-right: 10px;
  }
  .footer__navigation-number {
    margin-top: 15px;
    padding-right: 19px;
  }
  .footer__navigation-text::after {
    content: '';
  }

  .arrow {
    display: none;
  }
}
@media (max-width: 435px) {
  .footer__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
    margin-top: 20px;
  }
  .footer__navigation-list-items {
    margin: 10px 0;
  }

  .footer__navigation-number {
    margin-top: 10px;
  }
}
@media (max-width: 1202px) {
  .footer__navigation {
    padding: 20px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__navigation-items {
    margin: 0px 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 370px) {
  .footer__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .showfooterList.footer__navigation-list {
    right: 8px;
  }
}
@media (max-width: 439px) {
  .footer__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .footer__navigation-list-items {
    margin: 10px 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }

  .footer__navigation-text {
    font-size: 33px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }

  .footer__navigation-number {
    font-size: 15px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }

  .social {
    font-size: 32px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
}
@media (max-width: 638px) {
  .first__section {
    max-width: 100%;
    background: url("../../img/webdesign-background-1024x683.png") no-repeat left left;
    background-size: cover;
  }

  .subnavigation__list {
    padding: 11px 30px;
    min-width: 320px;
  }

  .navigation__list {
    display: none;
    border-radius: 0px;
  }

  #menu__wrapper {
    overflow: hidden;
    width: 100%;
    margin-left: -50px;
    display: block;
    position: relative;
  }
  #menu__wrapper-hamburgermenu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
    cursor: pointer;
  }
  #menu__wrapper-hamburgermenu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: white;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  #menu__wrapper-hamburgermenu span:nth-child(1) {
    top: 0;
  }
  #menu__wrapper-hamburgermenu span:nth-child(2) {
    top: 9px;
  }
  #menu__wrapper-hamburgermenu span:nth-child(1) {
    top: 18px;
  }

  .navigation__logo {
    margin-left: -4px;
  }

  .navigation {
    padding-top: 20px;
    padding-bottom: 70px;
  }
  .navigation-list {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navigation .navigation__list {
    padding-left: 0;
    display: none;
    min-width: 100%;
    background: #232428;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -40%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .navigation .navigation__list-items {
    width: 40%;
    margin: 0;
    border-bottom: 0.5px solid white;
  }

  .secondsubnavigation__list {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
  }

  #menu__wrapper-hamburgermenu.open span:nth-child(1) {
    -webkit-transform: translateY(2px) rotate(135deg);
            transform: translateY(2px) rotate(135deg);
  }

  #menu__wrapper-hamburgermenu.open span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  #menu__wrapper-hamburgermenu.open span:nth-child(3) {
    -webkit-transform: translateY(0px) rotate(-135deg);
            transform: translateY(0px) rotate(-135deg);
  }

  .accordeon {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .accordeon.showed {
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .navigation__list-links {
    border-bottom: none !important;
  }
  .navigation__list-links:hover {
    border-bottom: none !important;
  }

  .showBlock.subnavigation__list {
    display: none;
  }

  .showBlock.secondsubnavigation__list {
    display: none;
  }

  .secondsubnavigation__list {
    padding: 25px 0px;
    z-index: 10;
    background-color: #232428;
  }

  .diable_list-items {
    z-index: -2;
  }

  .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    z-index: 10;
    overflow: hidden;
    border-radius: 0px;
  }

  .accordion-toggle.active-tab {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
