@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Della+Respira&display=swap);

* {
    margin: 0;
    box-sizing: border-box;
}




body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';


}

label {
    font-family: 'Roboto';
    cursor: pointer;
}

.sectionWhite {
    color: white;
    background-color: #f5f6fa;
    transition: 0.5s all ease-in-out;
}

.first__section {
    height: 100vh;
    background-color: #282A35;
    transition: 0.5s all ease-in-out;
}



.header {
    background-color: #2F3542;
    padding: 0px 20px;


}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo>p {
    color: #f1f6f8;
    font-size: 30px;
    padding: 15px 5px;
    align-items: center;
    letter-spacing: 1px;
    font-family: 'Dell Respira';
    font-weight: 700;

    &::before {
        content: "<";
        padding: 0 10px;

    }

    &::after {
        content: "/ >";
        padding: 0 10px;
    }
}


.navigation__list {
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    & li {
        margin: 0 20px;
    }

    &-links {
        color: #ecf0f1;
        text-decoration: none;
        letter-spacing: 1px;


    }
}



.navigation__list-anotherSublist {
    position: relative;

}

.navigation__list {


    &-anotherSublist {
        &:hover {
            & .subnavigation__list {
                display: block;

            }
        }
    }
}

.subnavigation__list {
    position: absolute;
    list-style: none;
    background-color: #2F3542;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    left: 0px;
    right: 0px;
    display: none;
    min-width: 200px;


    & li {
        padding: 10px 0;
    }

    &-links {
        text-decoration: none;
        color: #ecf0f1;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #f1f6f8;
            transition: 0.3s all ease-in-out;
        }
    }
}




.navigation__list-items {
    padding: 15px 5px;
    align-items: center;

    & .navigation__list-links {
        border-bottom: 1px solid transparent;
        transition: 0.3s all ease-in-out;

        &:hover {
            border-bottom: 1px solid #f1f6f8;
            transition: 0.3s all ease-in-out;
        }
    }


}